body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 300px;
  text-align: center;
}

.signup-form {
  text-align: left;
}

h2 {
  color:#aa18e4;
  margin-bottom: 30px;
  padding-left: 35px;
  padding-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #555555;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #aa18e4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #aa18e4;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
  color: #555555;
  padding-left: 40px;
}

.login-link a {
  color: #aa18e4;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}